<body class="h-screen flex flex-col items-center justify-center" [ngClass]="{
    'bg-default':!currentTemp,
    'bg-cloudy':currentTemp >16,
    'bg-snowy':currentTemp<16
}">

    <div class="mb-5">
        <div class="bg-white p-6 rounded-md shadow-md mirror mt-5">
            <form class="flex flex-col items-center">
                <div class="flex items-center border-b border-teal-500 py-2" (keyup.enter)="FetchWeather(city.value )">
                    <input
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" placeholder="Enter city" #city>
                    <button
                        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
                        type="button" (click)="FetchWeather(city.value)">
                        Check Weather
                    </button>
                </div>
            </form>
        </div>

    </div>


    <!-- component -->
    <!-- This is an example component -->
    <div class="flex justify-center" *ngIf="data">
        <div class="card min-w-sm max-w-sm border border-gray-100 bg-transparent transition-shadow test shadow-lg hover:shadow-shadow-xl w-full rounded-md" style="backdrop-filter: blur(8px); width: 320px; height: 400px;">
            <div class="bg-gray-50 bg-opacity-50 rounded-md h-full">
                <h2 class="text-md mb-2 px-4 pt-4">
                    <div class="flex justify-between">
                        <div class="badge relative top-0">
                            <span class="mt-2 py-1 h-12px text-md font-semibold w-12px rounded right-1 bottom-1 px-4">{{data.name}},{{data.sys.country}}</span>
                        </div>
                        <!-- <span class="text-lg font-bold text-black">6:13</span> -->
                    </div>
                </h2>
    
                <div class="flex items-center justify-center h-24">
                    <h1 class="text-6xl font-bold text-black">{{currentTemp}}°C</h1>
                </div>
                <!-- <div class="text-md px-4">
                    <p class="text-gray-700">Details:</p>
                    <ul class="list-disc ml-6 mt-2">
                        <li>Weather condition: Sunny</li>
                        <li>Wind Speed: 27km/h</li>
                        <li>Humidity: 32%</li>
                        <li>Sunrise: 6:30 AM</li>
                        <li>Sunset: 6:30 PM</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    
</body>